POSTGRES_DB=sc_scraper
POSTGRES_USER=sc_scraper
POSTGRES_PASSWORD=sc_scraper_password
POSTGRES_PORT=5432
POSTGRES_URL=postgres://sc_scraper:sc_scraper_password@localhost:5432/sc_scraper?sslmode=disable
